@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import "metrics";
@import "colours";

html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

* {
  outline: none;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background: $blueGray50;
}


.container {
  margin: 0 auto;
  overflow-x: hidden;

  & .container-layout {
    & .container-content {
      padding-bottom: 45px;
    }
  }
}

@-webkit-keyframes autofill {
    to {
        color: $black;
        background: transparent;
    }
}

@keyframes autofill {
    to {
        color: $black;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-name: autofill;
    animation-fill-mode: both;
}


